/* =========================================
   🅰 URW DIN FONT FAMILY IMPORTS
   ========================================= */

@font-face {
  font-family: "URW DIN";
  src: url("../assets/fonts/URW++ - URWDIN-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "URW DIN";
  src: url("../assets/fonts/URW++ - URWDIN-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "URW DIN";
  src: url("../assets/fonts/URW++ - URWDIN-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "URW DIN";
  src: url("../assets/fonts/URW++ - URWDIN-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "URW DIN";
  src: url("../assets/fonts/URW++ - URWDIN-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* ✅ Global font apply */
body, html, * {
  font-family: "URW DIN", sans-serif !important;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-heading {
  font-family: "URW DIN", sans-serif;
  font-weight: 100; /* Thin */
}

.sub-heading {
  font-weight: 500; /* Medium */
}

.bold-text {
  font-weight: 700; /* Bold */
}
